:root {
    --black-100-: #000000;
    --black-60-: #222222;
    --black-30-: #444444;
    --black-30-: #666666;
    --white-100-: #FFFFFF;
    --white-60-: #F7FFF7;
    --yellow-100-: #FFE66D;
    --blue-100-: #1A535C;
    --blue-60-: #4ECDC4;
}