.team {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.team-member {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 12px;
}

.team-member img {
    width: 80px;
    height: 80px;
    object-fit: cover;
    object-position: center center;
    border-radius: 50%;
    filter: grayscale(1);
}

.team-member h4 {
    color: var(--black-100-);
}
