.about-section {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: var(--blue-100-);
}

.about {
    margin: 5rem 0;
    max-width: 1080px;
    width: 95%;
}

.about h2 {
    color: var(--white-60-);
}

.about .head {
    margin: 2rem 0;
}

.about p {
    color: var(--white-60-);
}

.about .body {
    max-width: 600px;
    width: 100%;
    display: flex;
    flex-direction: column;
    gap: 24px;
}

.project-container {
    display: flex;
    justify-content: space-between;
}

.project {
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.project p {
    margin-top: 16px;
}
